<div class="col-12 col-md-10 shadow mt-5 bg-white mx-auto">
    <app-header></app-header>
    <div class="row">
        <div class="col-6 mt-4 mx-auto">
            <mat-tab-group>
                <mat-tab label="Desayunos">
                    <app-option-menu *ngFor="let option of desayunos" [item]="option" (valueChange)='addItem($event)'></app-option-menu>
                </mat-tab>
                <mat-tab label="almuerzos">
                    <app-option-menu *ngFor="let option of almuerzos" [item]="option" (valueChange)='addItem($event)'></app-option-menu>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="orders col-6 pt-4 ">
            <form [formGroup]="client">
                <input #content formControlName="content" placeholder=" Cliente" />
                <div *ngFor="let item of pedidos" class="row  pt-3">
                    <div class="col-5">
                        <span>{{item.value}}</span>
                    </div>
                    <div class="col-5">
                        <span>S/. {{item.precio}}</span>
                    </div>
                    <div class="col-2">
                        <i class="fas fa-trash-alt" (click)="deleteItem(item.pedidoId, item.precio)"></i>
                    </div>
                </div>
                <p class="p-3 mt-1 bg-light">Total S/.{{total}}</p>
                <button type="button" class="btn btn-danger" *ngIf="total !== 0" (click)="addOrder()" [disabled]="!client.valid">Enviar
  a cocina</button>
            </form>
        </div>
    </div>
</div>