<div class="col-12 col-md-10 shadow bg-light mx-auto pb-3 mt-3">
    <div class="row bg-light">
        <div class="col-5">
            <h2 class="p-3">Burger Queen</h2>
        </div>
        <div class="col-7 text-right p-3">
            <button type="button" class="btn btn-info m-1" routerLink="/">Take a Order</button>
            <button type="button" class="btn btn-outline-info m-1" routerLink="/pending-orders">Pending orders</button>
            <button type="button" class="btn btn-outline-info m-1" routerLink="/orders">Orders</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>